async-timeout==4.0.2
bleak==0.19.5
bleak-winrt==1.2.0
click==7.1.2
enum-compat==0.0.3
numpy==1.23.5
pygatt==4.0.5
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqtgraph==0.13.1
pyserial==3.5
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
